# direnv subdir
.direnv/

simple-git-server/secret-files/

# Emacs files
TAGS
*~

# Do not commit SOPS configuration files
.sops.yaml
!/clusters/**/.sops.yaml

# Files created by the git-pull container
.overlay
.ssh_known_hosts

# Automatically created peer status files
**/peers/*/ACTIVE

# Root-CA private keys
**/node-data/private/
