# direnv subdir
.direnv/

simple-git-server/secret-files/
simple-git-server/trusted_user_ca_keys
simple-git-server/alertmanager_viewers
simple-git-server/prometheus_viewers

# Emacs files
TAGS
*~

# Do not commit SOPS configuration files
.sops.yaml
!/clusters/**/.sops.yaml

# Files created by the git-pull container
.overlay
.ssh_known_hosts

# Automatically created peer status files
**/peers/*/ACTIVE

# Root-CA private keys
**/node-data/private/
