AllowTcpForwarding no
GatewayPorts       no
X11Forwarding      no
Subsystem sftp internal-sftp

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no

PubkeyAuthentication yes
AuthorizedKeysFile /etc/ssh/authorized_keys

TrustedUserCAKeys /etc/ssh/trusted_user_ca_keys

